.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 370px){
  #media{
    display: none !important;
  }
}

.media:focus{
  outline-width: 0px;
}

#footer > .container{
  padding: 20px 50px;
}

#footer{
  position: relative;
  top: 150px;
  background-color: rgb(29, 33, 37);
  color: #818181;
}

.link{
  color: #818181;
} 

.link:hover{
  text-decoration: none;
  color: white;
}

#copyright{
  background-color: #032e4e;
  padding: 0.8em;
  color: white;

}

#navbar{
  background-color: #032e4e;
  box-shadow: 1px 1px 3px 1px black;
}

.navbar-nav > a{
  padding: 5px;
}

.navbar-nav > a:hover{
  cursor: pointer;
  text-decoration: none;
  color: rgb(206, 206, 206) !important;
}

.navbar-light .navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler{
  border: 1px solid white !important;
}

.w-100{
  height: 400px;
}

img.mr-3{
  border-radius: 20px;
}

img.mr-3:hover{
  box-shadow: 1px 1px 5px 1px gray;
  cursor: pointer;
}

.logo{
  color: white;
}

.logo:hover{
  text-decoration: none;
  color: rgb(206, 206, 206);
}

.bread{
  position: relative;
  top: 100px;
}

.card-head{
  text-decoration: none !important;
}
.card-head:focus{
  box-shadow: none;
}

p{
  text-align: justify;
}
